<h1>GOOGLE AUTHENTICATION</h1>


<form>
    <label>
        Username
    </label>
    <input type="text">
    <label>
        Password
    </label>
    <input type="password">
    <input type="submit">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</form>